<nav #navBar class="navbar navbar-expand-md fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="" alt="logo" /></a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      *ngIf="isLogin | async"
      class="collapse navbar-collapse"
      id="collapsibleNavId"
    >
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home" routerLinkActive="active-link"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/products"
            routerLinkActive="active-link"
            >Product</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/brands"
            routerLinkActive="active-link"
            >Brands</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/categories"
            routerLinkActive="active-link"
            >Categories</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mt-2 align-items-center mt-lg-0">
        <div class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            type="button"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-xl fa-user text-main"></i>
          </a>
          <ul class="dropdown-menu">
            <li role="button"><a class="dropdown-item" routerLinkActive="active-link" routerLink="/forget-password">ForgetPassword</a></li>
          </ul>
        </div>

        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/cart"
            ><i class="fa-2xl text-main fas fa-shopping-cart"></i>
            <span
              class="badge rounded-pill bg-warning position-absolute top-0 end-0"
              >{{ cartNumber }}</span
            >
          </a>
        </li>

        <li class="nav-item d-flex gap-3">
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-linkedin"></i></a>
        </li>
        <li class="nav-item ms-2">
          <a style="cursor: pointer" class="nav-link" (click)="SignOut()"
            >SignOut</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
