<section
  #forgetPassword
  class="w-75 mx-auto rounded bg-main-light p-3 shadow"
  id="forget-password"
>
  <form [formGroup]="forgetForm" (ngSubmit)="SendCode()">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <button type="submit" class="btn main-btn">
      Submit
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
    </button>
    <p class="alert alert-danger" *ngIf="usrMsg">{{ usrMsg }}></p>
  </form>
</section>

<section
  #verifyResetCode
  class="w-75 d-none mx-auto rounded bg-main-light p-3 shadow"
  id="verify-reset-code"
>
  <form [formGroup]="resetCodeForm" (ngSubmit)="VerifyCode()">
    <div class="mb-3">
      <label for="resetCode" class="form-label">resetCode</label>
      <input
        type="text"
        class="form-control"
        id="resetCode"
        formControlName="resetCode"
        aria-describedby="resetCodeHelp"
      />
      <div id="resetCodeHelp" class="form-text">
        We'll never share your ResetCode with anyone else.
      </div>
    </div>
    <button type="submit" class="btn main-btn">
      Submit
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
    </button>
    <p class="alert alert-danger" *ngIf="usrMsg">{{ usrMsg }}></p>
  </form>
</section>

<section
  #resetPassword
  class="w-75 d-none mx-auto rounded bg-main-light p-3 shadow"
  id="reset=password"
>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="ResetPassword()">
    <!-- repassword -->
    <div class="mb-3">
      <label for="rePassword" class="form-label">rePassword</label>
      <input
        type="password"
        class="form-control"
        id="rePassword"
        formControlName="rePassword"
        aria-describedby="rePasswordHelp"
      />
      <div id="rePasswordHelp" class="form-text">
        We'll never share your Password with anyone else.
      </div>
    </div>
    <button type="submit" class="btn main-btn">
      Submit
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
    </button>
    <p class="alert alert-danger" *ngIf="usrMsg">{{ usrMsg }}></p>
  </form>
</section>
